.navbar {
    width:860px;
    margin:0 auto;
    overflow: hidden;
    background-color: white;
  }

  .navbar h1 {
      float: left;
      display: block;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: right; /* Make sure that the links stay side-by-side */
    display: block;
    color: #39c;
    text-align: center;
    padding: 14px 20px; /* Add some padding */
    text-decoration: none;
  }
  

  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }